.user-avatar{
  margin-bottom: 3em;
  img{
    height: 150px;
    animation: wiggle 1s 1s infinite ease-in-out alternate;
    border-radius: 50% 50% 50% 50%;
  }
}

@keyframes wiggle {
  0%{
    transform: rotate(-10deg);
  }
  100%{
    transform: rotate(10deg);
    border-radius: 50% 50% 50% 50%;
  }
}
