.name-list{
  list-style: none;
  .repo-name{
    font-size: 1.5em;
  }

  .repo-desc{
    font-size: 1.1em;
    margin-left: 1em;
  }
  hr{
    border: none;
    background: $light-grey;
    height: 1px;
    margin: 1em 0;
  }
}
